HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!/temp/logstash/config/logstash.conf
.idea
target/
**/build/
**/.gradle/
**/gradle/
*.iws
*.iml
*.ipr

clientwood/dist
clientwood/tmp
clientwood/out-tsc
clientwood/bazel-out
clientwood/.angular
clientwood/.vscode
clientwood/node_modules
clientwood/npm-debug.log
clientwood/yarn-error.log

