HELP.md

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
temp/
.idea
target/
**/build/
**/.gradle/
**/gradle/
*.iws
*.iml
*.ipr

woodclient/dist
woodclient/tmp
woodclient/out-tsc
woodclient/bazel-out
woodclient/.angular
woodclient/.vscode
woodclient/node_modules
woodclient/npm-debug.log
woodclient/yarn-error.log

