<footer class="page-footer">
    <div class="footer-copyright jumbotron pt-1 ">
        <table align ="center">
            <tr>
                <th>Порядок сортировки и цветовая маркировка</th>
            </tr>
        </table>
        <table align ="center">
            <tr>
                <th>ᅠ ᅠ </th>
            </tr>
        </table>
        <table align ="center">
            <tr data-map-urgent="true">
                <th>МАРКЕТПЛЕЙС</th>
            </tr>
        </table>
        <table align ="center">
            <tr data-map-urgent-availability="true">
                <th>НАЛИЧИЕ МАРКЕТПЛЕЙС</th>
            </tr>
        </table>
        <table align ="center">
            <tr data-map-info="true">
                <th>ОБЫЧНЫЙ ЗАКАЗ, ОТПРАВКА В ТЕЧЕНИЕ 5 ДНЕЙ</th>
            </tr>
        </table>
        <table align ="center">
            <tr>
                <th>ОБЫЧНЫЙ ЗАКАЗ</th>
            </tr>
        </table>
        <table align ="center">
            <tr data-map-availability="true">
                <th>НАЛИЧИЕ</th>
            </tr>
        </table>
    </div>
</footer>