tr[data-map-availability="true"] {
    color: darkblue;
}

tr[data-map-urgent="true"] {
    color: red;
}

tr[data-map-urgent-availability="true"] {
    color: purple;
}

tr[data-map-info="true"] {
    color: orange;
}

.fa {
    cursor: pointer;
}

tr[data-user-enabled="false"] {
    opacity: 0.3;
}

/*https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px !important; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

table td>div div {
    padding: 10px;
    background: #fff;
    display: block;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
table td>div div:hover {
    white-space: normal;
    z-index: 1;
}
