<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{part/header}"></div>
<body>
<script th:src="@{/js/woodpecker.common.js}" type="text/javascript" defer></script>
<script th:src="@{/js/woodpecker.availability.js}" type="text/javascript" defer></script>

<div th:insert="~{part/ordermodifymodal}"></div>
<div th:insert="~{part/infoordermodel}"></div>


<div class="container-xl">

    <div th:insert="~{part/bodyheader}"></div>


    <div class="jumbotron pt-1 card border-dark">
        <div style="width: 100%; position: relative">
            <button class="btn btn-primary" onclick="add()">
                <span class="fa fa-plus"></span>
                Добавить
            </button>
            <h3 class="text-center">Наличие</h3>
            <table class="compact row-border" style="width: 95%" id="datatable">
                <thead>
                <tr>
                    <th>Номер</th>
                    <th>Тип</th>
                    <th>Разм</th>
                    <th>Яз.Гор.</th>
                    <th>Многур</th>
                    <th>Цвет</th>
                    <th>Подсветка</th>
                    <th>Лазер</th>
                    <th>Cостояние</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <footer class="page-footer">
        <div class="footer-copyright jumbotron pt-1 ">
            <table align="center">
                <tr>
                    <th>Цветовая маркировка</th>
                </tr>
            </table>
            <table align="center">
                <tr data-map-urgent-availability="true">
                    <th>ᅠ ᅠ</th>
                </tr>
            </table>
            <table align="center">
                <tr data-map-urgent-availability="true">
                    <th>НАЛИЧИЕ МАРКЕТПЛЕЙС</th>
                </tr>
            </table>
            <table align="center">
                <tr data-map-availability="true">
                    <th>НАЛИЧИЕ</th>
                </tr>
            </table>
        </div>
    </footer>
</div>

<div class="modal fade" tabindex="-1" id="info-cut">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle1">Готовность листов</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body" id="info">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" tabindex="-1" id="createAvailability">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить карту в наличие</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body container-fluid">
                <form id="formAvailability">
                    <input type="hidden" id="availability_price" name="price">
                    <input type="hidden" id="availability_contact" name="contact">
                    <div class="row">
                        <div class="form-group col">
                            <label for="availability_id" class="col-form-label">Номер</label>
                            <input type="text" class="form-control" id="availability_id" name="id" readonly="">
                        </div>
                        <div class="form-group col">
                            <label for="availability_dateTime" class="col-form-label">Дата</label>
                            <input type="datetime-local" class="form-control" id="availability_dateTime"
                                   name="dateTime">
                        </div>


                        <div class="form-group col">
                            <label for="availability_isPlexiglass" class="col-form-label">Оргстекло</label>
                            <select class="form-control" id="availability_isPlexiglass" name="isPlexiglass">
                                <option value="false">Нет</option>
                                <option value="true">Да</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="availability_size" class="col-form-label">Размер</label>
                            <input type="number" class="form-control" id="availability_size" name="size" list="sizeOption">
                            <datalist id="sizeOption">
                                <option>100</option>
                                <option>120</option>
                                <option>140</option>
                                <option>160</option>
                                <option>180</option>
                                <option>200</option>
                                <option>220</option>
                                <option>250</option>
                                <option>300</option>
                                <option>350</option>
                            </datalist>
                        </div>
                        <div class="form-group col">
                            <label for="availability_language" class="col-form-label">Язык</label>
                            <input type="text" class="form-control" id="availability_language" name="language"
                                   list="languageOption">
                            <datalist id="languageOption">
                                <option>Русский</option>
                                <option>Английский</option>
                            </datalist>
                        </div>
                        <div class="form-group col">
                            <label for="availability_isState" class="col-form-label">Штаты</label>
                            <select class="form-control" id="availability_isState" name="isState">
                                <option value="true">Со штатами</option>
                                <option value="false">Со столицами</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="availability_typeMap" class="col-form-label">Тип</label>
                            <input type="text" class="form-control" id="availability_typeMap" name="typeMap" list="typeMapOptional">
                            <datalist id="typeMapOptional">
                                <option>Мир</option>
                                <option>Россия</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="availability_isMultiLevel" class="col-form-label">Многоур</label>
                            <select type="text" class="form-control" id="availability_isMultiLevel" name="isMultiLevel">
                                <option value="true">Многоуровневая</option>
                                <option value="false">Одноуровневая</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="availability_light" class="col-form-label">Подсветка</label>
                            <input type="text" class="form-control" id="availability_light" name="light" list="lightOption">
                            <datalist id="lightOption">
                                <option>Без подсветки</option>
                                <option>Холодная подсветка</option>
                                <option>Нейтральная подсветка</option>
                                <option>Тёплая подсветка</option>
                                <option>Беспроводная подсветка</option>
                                <option>RGB подсветка</option>
                            </datalist>
                        </div>
                        <div class="form-group col">
                            <label for="availability_isMonochromatic" class="col-form-label">Однотонная</label>
                            <select class="form-control" id="availability_isMonochromatic" name="isMonochromatic">
                                <option value="false">Нет</option>
                                <option value="true">Да</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <label for="availability_isColorPlywood" class="col-form-label">Тип покраски</label>
                            <select class="form-control" id="availability_isColorPlywood" name="isColorPlywood">
                                <option value="true">Крашенные доски</option>
                                <option value="false">Ручная покраска</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="availability_laser" class="col-form-label">Лазер</label>
                            <select class="form-control" id="availability_laser" name="laser">
                                <option value="1л">1л</option>
                                <option value="2л">2л</option>
                                <option value="3л">3л</option>
                                <option value="4л">4л</option>
                                <option value="5л">5л</option>
                                <option value="6л">6л</option>
                                <option value="7л">7л</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="availability_stage" class="col-form-label">Стадия</label>
                            <select class="form-control" type="number" id="availability_stage" name="stage">
                                <option value="14">Жду покраску</option>
                                <option value="15">Жду приклейки</option>
                                <option value="12">Наличие</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col">
                        <label for="availability_color" class="col-form-label">Цвет</label>
                        <input type="text" class="form-control" id="availability_color" name="color">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="saveAvailability()">
                    <span class="fa fa-check"></span>
                    Сохранить наличие
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="editRow">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить карту</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body container-fluid">
                <form id="detailsForm">
                    <div class="row">
                        <div class="form-group col">
                            <label for="update_id" class="col-form-label">Номер</label>
                            <input type="text" class="form-control" id="update_id" name="id" readonly="">
                        </div>
                        <div class="form-group col">
                            <label for="update_dateTime" class="col-form-label">Дата</label>
                            <input type="datetime-local" class="form-control" id="update_dateTime" name="dateTime">
                        </div>
                        <div class="form-group col">
                            <label for="update_isPlexiglass" class="col-form-label">Оргстекло</label>
                            <select class="form-control" id="update_isPlexiglass" name="isPlexiglass">
                                <option value="false">Нет</option>
                                <option value="true">Да</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="update_size" class="col-form-label">Размер</label>
                            <input type="number" class="form-control" id="update_size" name="size" list="update_sizeOption">
                            <datalist id="update_sizeOption">
                                <option>100</option>
                                <option>120</option>
                                <option>140</option>
                                <option>160</option>
                                <option>180</option>
                                <option>200</option>
                                <option>220</option>
                                <option>250</option>
                                <option>300</option>
                                <option>350</option>
                            </datalist>
                        </div>
                        <div class="form-group col">
                            <label for="update_language" class="col-form-label">Язык</label>
                            <input type="text" class="form-control" id="update_language" name="language"
                                   list="update_languageOption">
                            <datalist id="update_languageOption">
                                <option>Русский</option>
                                <option>Английский</option>
                            </datalist>
                        </div>
                        <div class="form-group col">
                            <label for="update_isState" class="col-form-label">Штаты</label>
                            <select class="form-control" id="update_isState" name="isState">
                                <option value="true">Со штатами</option>
                                <option value="false">Со столицами</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="update_typeMap" class="col-form-label">Тип</label>
                            <input type="text" class="form-control" id="update_typeMap" name="typeMap" list="update_typeMapOptional">
                            <datalist id="update_typeMapOptional">
                                <option>Мир</option>
                                <option>Россия</option>
                            </datalist>
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col">
                            <label for="update_isMultiLevel" class="col-form-label">Многоур</label>
                            <select type="text" class="form-control" id="update_isMultiLevel" name="isMultiLevel">
                                <option value="true">Многоуровневая</option>
                                <option value="false">Одноуровневая</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="update_light" class="col-form-label">Подсветка</label>
                            <input type="text" class="form-control" id="update_light" name="light" list="update_lightOption">
                            <datalist id="update_lightOption">
                                <option>Без подсветки</option>
                                <option>Холодная подсветка</option>
                                <option>Нейтральная подсветка</option>
                                <option>Тёплая подсветка</option>
                                <option>Беспроводная подсветка</option>
                                <option>RGB подсветка</option>
                            </datalist>
                        </div>


                        <div class="form-group col">
                            <label for="update_isMonochromatic" class="col-form-label">Однотонная</label>
                            <select class="form-control" id="update_isMonochromatic" name="isMonochromatic">
                                <option value="false">Нет</option>
                                <option value="true">Да</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label for="update_color" class="col-form-label">Цвет</label>
                        <input type="text" class="form-control" id="update_color" name="color">
                    </div>
                    <div class="form-group col">
                        <label for="update_additional" class="col-form-label">Дополнительные товары, услуги</label>
                        <textarea class="form-control overflow-auto" rows="2" id="update_additional" name="additional"></textarea>
                    </div>

                    <div class="form-group col">
                        <label for="update_description" class="col-form-label">Описание</label>
                        <textarea class="form-control overflow-auto" rows="2" id="update_description" name="description"></textarea>
                    </div>
                    <div class="form-group col">
                        <label for="update_contact" class="col-form-label">Контактные данные. Адресс</label>
                        <textarea class="form-control overflow-auto" rows="2" id="update_contact" name="contact"></textarea>
                    </div>
                    <div class="form-group col">
                        <label for="update_price" class="col-form-label">Цена</label>
                        <input type="number" class="form-control" id="update_price" name="price">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="fa fa-check"></span>
                    Сохранить карту
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>