<nav class="navbar navbar-dark bg-dark py-0">
  <div class="container">
    <a href="" class="navbar-brand"><img th:src="@{/images/wd.jpg}" width="30" height="30"> </a>
    <a href="maps" class="navbar-text">Карты</a>
    <a href="orders" class="navbar-text">Распил</a>
    <a href="production" class="navbar-text">Производство</a>

    <form class="form-inline my-2">
      <a class="btn btn-info mr-1" href="users">Пользователи</a>
      <a class="btn btn-primary" href="/logout">
        <span class="fa fa-sign-out"></span>
      </a>
    </form>
  </div>
</nav>