<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{header}"></div>
<body>
<script th:src="@{/js/woodpecker.common.js}" type="text/javascript" defer></script>
<script th:src="@{/js/woodpecker.maps.js}" type="text/javascript" defer></script>


<div class="container-xl">


<div th:insert="~{bodyheader}"></div>


<div class="card border-dark jumbotron pt-4">
    <div class="card-body pb-0 container">
        <form id="filter">
            <div class="row">
                <div class="form-group col-3">
                    <label for="startDate" class="col-form-label">С даты:</label>
                    <input class="form-control" type="datetime-local" name="startDate" id="startDate">
                </div>
                <div class="form-group col-3">
                    <label for="endDate" class="col-form-label">по дату:</label>
                    <input class="form-control" type="datetime-local" name="endDate" id="endDate">
                </div>
                <div class="form-group col-3">
                        <label for="isPost" class="col-form-label">Скрытые</label>
                    <select class="form-control" type="boolean" id="isPost" name="isPost">
                        <option value="false" selected>Нет</option>
                        <option value="true">Да</option>
                    </select>
                </div>
                <div class="form-group col-3">
                    <label for="nameManager" class="col-form-label">Менеджер</label>
                    <select class="form-control" type="text" id="nameManager" name="nameManager">
                        <option value="">Все</option>
                        <option value="Оля">Оля</option>
                        <option value="Катя">Катя</option>
                        <option value="Вера">Вера</option>
                        <option value="Мои" selected>Мои</option>
                    </select>
                </div>

<!--                <div class="form-group col">-->
<!--                    <label for="conditionMapFilter" x-placement="">Состояние:</label>-->
<!--                    <select class="form-control" type="number" id="conditionMapFilter" name="conditionMapFilter">-->
<!--                        <option value="-1">Неизвестно</option>-->
<!--                        <option value="0">Новый заказ</option>-->
<!--                        <option value="1">В очереди на резку</option>-->
<!--                        <option value="2">Пилится</option>-->
<!--                        <option value="4">Выпилен</option>-->
<!--                        <option value="5">На покраске</option>-->
<!--                        <option value="6">Красится</option>-->
<!--                        <option value="8">Покрашен</option>-->
<!--                        <option value="10">На приклейки</option>-->
<!--                        <option value="12">На запаковке</option>-->
<!--                        <option value="14">Готов к отправке</option>-->
<!--                        <option value="16">Отправлен</option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>

        </form>
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-3">
                <button class="btn btn-primary" onclick="ctx.updateTable()">
                    <span class="fa fa-filter"></span>
                    Фильтр
                </button>
            </div>
            <div class="col-3">
                <button class="btn btn-danger" onclick="clearFilter()">
                    <span class="fa fa-remove"></span>
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron pt-1 card border-dark">
    <div style="width: 90%; position: relative">
        <button class="btn btn-primary" onclick="add()">
            <span class="fa fa-plus"></span>
            Добавить
        </button>
        <h3 class="text-center">Карты</h3>
        <table class="display compact" id="datatable">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Дата</th>
                <th>Тип</th>
                <th>Размер</th>
                <th>Язык и города</th>
                <th>Многур</th>
                <th>Цвет</th>
                <th>Описание</th>
                <th>Состояние</th>
                <th>Цена</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
</div>
<div class="modal fade" tabindex="-1" id="editRow">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавить карту</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body container-fluid">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">
                    <div class="row">
                        <div class="form-group col">
                            <label for="dateTime" class="col-form-label">Дата</label>
                            <input type="datetime-local" class="form-control" id="dateTime" name="dateTime"
                                   placeholder="Время">
                        </div>

                        <div class="form-group col">
                            <label for="typeMap" class="col-form-label">Тип</label>
                            <input type="text" class="form-control" id="typeMap" name="typeMap" list="typeMapOptional"
                                   placeholder="Тип">
                            <datalist id="typeMapOptional">
                                <option>Мир</option>
                                <option>Россия</option>
                            </datalist>
                        </div>

                        <div class="form-group col">
                            <label for="size" class="col-form-label">Размер</label>
                            <input type="number" class="form-control" id="size" name="size" list="sizeOption"
                                   placeholder="Размер">
                            <datalist id="sizeOption">
                                <option>100</option>
                                <option>120</option>
                                <option>140</option>
                                <option>160</option>
                                <option>180</option>
                                <option>200</option>
                                <option>220</option>
                                <option>250</option>
                                <option>300</option>
                                <option>350</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="language" class="col-form-label">Язык</label>
                            <input type="text" class="form-control" id="language" name="language"
                                   list="languageOption"
                                   placeholder="Язык">
                            <datalist id="languageOption">
                                <option>Русский</option>
                                <option>Английский</option>
                            </datalist>
                        </div>

                        <div class="form-group col">
                            <label for="isState" class="col-form-label">Штаты</label>
                            <select class="form-control" id="isState" name="isState">
                                <option value="true">Со штатами</option>
                                <option value="false">Без штатов</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="isCapital" class="col-form-label">Столицы</label>
                            <select type="text" class="form-control" id="isCapital" name="isCapital">
                                <option value="true">Со столицами</option>
                                <option value="false">Без столиц</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="isMultiLevel" class="col-form-label">Многоур</label>
                            <select type="text" class="form-control" id="isMultiLevel" name="isMultiLevel">
                                <option value="true">Многоуровневая</option>
                                <option value="false">Одноуровневая</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="light" class="col-form-label">Подсветка</label>
                            <input type="text" class="form-control" id="light" name="light"
                                   list="lightOption"
                                   placeholder="Подсветка">
                            <datalist id="lightOption">
                                <option>Без подсветки</option>
                                <option>Холодная подсветка</option>
                                <option>Нейтральная подсветка</option>
                                <option>Тёплая подсветка</option>
                                <option>Беспроводная подсветка</option>
                                <option>RGB подсветка</option>
                            </datalist>
                        </div>

                        <div class="form-group col">
                            <label for="color" class="col-form-label">Цвет</label>
                            <input type="text" class="form-control" id="color" name="color"
                                   placeholder="Цвет">
                        </div>
                    </div>

                    <div class="form-group col">
                        <label for="additional" class="col-form-label">Дополнения</label>
                        <input type="text" class="form-control" id="additional" name="additional"
                               placeholder="Дополнения">
                    </div>

                    <div class="form-group col">
                        <label for="description" class="col-form-label">Описание</label>
                        <input type="text" class="form-control" id="description" name="description"
                               placeholder="Описание">
                    </div>

                    <div class="form-group col">
                        <label for="contact" class="col-form-label">Контактные данные. Адресс</label>
                        <input type="text" class="form-control" id="contact" name="contact"
                               placeholder="Контактные данные. Адресс">
                    </div>

                    <div class="form-group col">
                        <label for="price" class="col-form-label">Цена</label>
                        <input type="number" class="form-control" id="price" name="price"
                               placeholder="Цена">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="fa fa-check"></span>
                    Создать карту
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="createOrder">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">Создать заказ</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body container-fluid">
                <form id="orderForm">
                    <input type="hidden" id="order-Id" name="orderId">
                    <div class="row">
                        <div class="form-group col">
                            <label for="isAvailability" class="col-form-label">Наличие</label>
                            <select class="form-control" id="isAvailability" name="isAvailability">
                                <option value="false">Заказ</option>
                                <option value="true">Наличие</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="orderTerm" class="col-form-label">Дата отправки</label>
                            <input type="datetime-local" class="form-control" id="orderTerm" name="orderTerm"
                                   placeholder="Время">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="isState" class="col-form-label">Тип заказа</label>
                            <select class="form-control" id="isMarketPlace" name="isMarketPlace">
                                <option value="true">Маркет плейс</option>
                                <option value="false">Обычный заказ</option>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="isColorPlywood" class="col-form-label">Способ производства</label>
                            <select class="form-control" id="isColorPlywood" name="isColorPlywood">
                                <option value="true">Цветные доски</option>
                                <option value="false">Ручная покраска</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="saveOrder()">
                    <span class="fa fa-check"></span>
                    Создать заказ
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>