<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{part/header}"></div>
<body>
<script th:src="@{/js/woodpecker.common.js}" type="text/javascript" defer></script>
<script th:src="@{/js/woodpecker.paint.js}" type="text/javascript" defer></script>

<div th:insert="~{part/infoordermodel}"></div>

<div class="container-xl">

    <div th:insert="~{part/bodyheader}"></div>

    <div class="jumbotron pt-1 card border-dark">
        <div style="width: 100%; position: relative">
            <h3 class="text-center">Покраска</h3>
            <table class="compact row-border" style="width: 95%" id="datatable">
                <thead>
                <tr>
                    <th></th>
                    <th>Номер</th>
                    <th>Отправка</th>
                    <th>Тип</th>
                    <th>Разм</th>
                    <th>Яз.Гор.</th>
                    <th>Мн-ур</th>
                    <th>Цвет</th>
                    <th>Лазер</th>
                    <th>Художник</th>
                    <th>Состояние</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div th:insert="~{part/footer}"></div>
</div>

<div class="modal fade" tabindex="-1" id="modalNamePainter">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle1">Назначить художника</h4>
                <button type="button" class="close" data-bs-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="formNamePainter">
                    <input type="hidden" id="id" name="id">
                    <div class="row">
                        <div class="col">
                            <label for="namePainter" class="col-form-label">Имя Художника</label>
                            <input type="text" class="form-control" id="namePainter" name="namePainter"
                                   list="namePainterList">
                            <datalist id="namePainterList">
                                <option>Аня</option>
                                <option>Алёна</option>
                            </datalist>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="savePainter()">
                    <span class="fa fa-check"></span>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="info-cut">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitleCut">Готовность листов</h4>
                <button type="button" class="close" data-bs-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body container-fluid" id="info">

            </div>
            <div class="modal-footer"  id="infoButton">

            </div>
        </div>
    </div>
</div>

</body>
</html>