<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{part/header}"></div>
<body>
<script th:src="@{/js/woodpecker.common.js}" type="text/javascript" defer></script>
<script th:src="@{/js/woodpecker.production.js}" type="text/javascript" defer></script>

<div th:insert="~{part/infoordermodel}"></div>

<div class="container-xl">

    <div th:insert="~{part/bodyheader}"></div>

    <div class="jumbotron pt-2 ">
        <div style="width: 100%; position: relative">
            <h3 class="text-center">Производство</h3>
            <table class="hover" style="width: 95%" id="datatable">
                <thead>
                <tr>
                    <th></th>
                    <th>Номер</th>
                    <th>Дата отправки</th>
                    <th>Тип</th>
                    <th>Размер</th>
                    <th>Яз.Гор.</th>
                    <th>Мн-ур</th>
                    <th>Кр.Дк</th>
                    <th>Цвет</th>
                    <th>Лазер</th>
                    <th>Cостояние</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div th:insert="~{part/footer}"></div>
</div>

<div class="modal fade" tabindex="-1" id="info-cut">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle1">Готовность листов</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body" id="info">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
            </div>
        </div>
    </div>
</div>

</body>
</html>