<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{header}"></div>
</head>
<body>

<script th:src="@{/js/woodpecker.common.js}" type="text/javascript" defer> </script>
<script th:src="@{/js/woodpecker.users.js}" type="text/javascript" defer></script>

<div th:insert="~{bodyheader}"></div>

<div class="jumbotron pt-4">
    <div class="container">
        <h3 class="text-center">Пользователи</h3>
        <button class="btn btn-primary" onclick="add()">
            <span class="fa fa-plus"></span>
            Добавить
        </button>
        <table class="table table-striped" id="datatable">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Email</th>
                <th>Права</th>
                <th>Блокировка</th>
                <th>Дата регестрации</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
        </table>
    </div>
</div>


<div class="modal fade" tabindex="-1" id="editRow">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal" onclick="closeNoty()">&times;</button>
            </div>
            <div class="modal-body">
                <form id="detailsForm">
                    <input type="hidden" id="id" name="id">

                    <div class="form-group">
                        <label for="name" class="col-form-label">Имя</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Имя">
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email"
                               placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-form-label">Пароль</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Пароль">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeNoty()">
                    <span class="fa fa-close"></span>
                    Отмена
                </button>
                <button type="button" class="btn btn-primary" onclick="save()">
                    <span class="fa fa-check"></span>
                    Сохранить
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>